<div class="winners">
  <div class="container" fxLayout="column" fxLayoutAlign="center">
    <div>
      <h1>{{ getWinnersLabel() }}: {{ getWinners() }}</h1>
    </div>
    <div>
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="25px">
        <app-card
          *ngFor="let winner of gameService.winners"
          [cardHolder]="winner.player"
          [model]="winner.card"
          [showCardOnly]="true"
        ></app-card>
      </div>
      <button mat-flat-button color="primary" (click)="nextRound()">Ok</button>
    </div>
  </div>
</div>
