.winners {
  position: fixed;
  width: 40%;
  background: rgba(100, 139, 237, 0.8);
  top: 0;
  left: 0;
  margin-left: 30%;
  text-align: center;
  color: white;
  margin-top: 30px;
}

.container {
  height: 100%;
}

button {
  margin-top: 15px;
}
