<mat-card>
  <mat-card-header>
    <mat-card-title *ngIf="!showCardOnly"
      ><h1>{{ cardHolder.name }}</h1></mat-card-title
    >
    <h3 class="score" *ngIf="!showCardOnly">Score: {{ getScore() }}</h3>
  </mat-card-header>
  <mat-card-content>
    <div class="image-wrapper">
      <img *ngIf="!model" src="../../../assets/question-sign.png" />
      <img *ngIf="model" [src]="'../../../assets/' + model.image" />
    </div>
    <div class="details" *ngIf="model">
      <div>
        <span class="caption">
          <strong>Name:</strong>
        </span>

        <span class="value"
          ><strong>{{ model.name }}</strong></span
        >
      </div>
      <div>
        <span class="caption">
          <strong>{{ getAttributeTypeText() }}:</strong>
        </span>
        <span class="value">
          <strong>{{ model.attribute.value }}</strong></span
        >
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="!showCardOnly">
    <button mat-flat-button color="primary" (click)="draw()" [disabled]="disableDrawButton">
      Roll
    </button>
  </mat-card-actions>
</mat-card>
