mat-card-header {
  h3 {
    line-height: 36px;
  }
}

mat-card-content {
  position: relative;
  overflow: hidden;
  height: 410px;

  .details {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    .caption {
      width: 35px;
    }

    .value {
      margin-left: 10px;
    }
  }
}

.image-wrapper {
  width: calc(100% - 50px);
  padding: 25px;

  img {
    max-width: 320px;
    width: 100%;
    height: auto;
  }
}

mat-card-actions {
  text-align: center;
  height: 36px;
}

dl {
  text-align: center;
}

dt,
dd {
  display: inline-block;
}
