<div class="vertical-wrapper" fxLayout="column" fxLayoutAlign="center">
  <div fxLayout="row" fxLayoutAlign="center">
    <div class="header" fxFlex="auto">
      <h2>Start new game</h2>
      <p>Select resource</p>
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="25px">
        <app-resource-selector-card
          *ngFor="let resourceType of availableResources"
          [resourceType]="resourceType"
          (click)="selectedResourceType = resourceType"
          [selected]="selectedResourceType === resourceType"
        ></app-resource-selector-card>
      </div>
      <button color="primary" mat-flat-button (click)="startGame()">START</button>
    </div>
  </div>
</div>
