<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="25px">
    <div fxFlex="1 1 auto">
      <app-card
        [showCardOnly]="false"
        [cardHolder]="gameService.game.players[0]"
        [model]="gameService.playerCard"
        [scores]="gameService.scores"
        (onDraw)="drawPlayer()"
      ></app-card>
    </div>
    <div fxFlex="1 1 auto">
      <app-card
        [showCardOnly]="false"
        [cardHolder]="gameService.game.players[1]"
        [model]="gameService.enemyCard"
        [scores]="gameService.scores"
        (onDraw)="drawEnemy()"
      ></app-card>
    </div>
  </div>
</div>
<app-results *ngIf="gameService.winners"></app-results>
