mat-card {
  cursor: pointer;

  .image-wrapper {
    width: calc(100% - 50px);
    padding: 25px;
  }
  img {
    max-width: 320px;
    width: 100%;
    height: auto;
  }
}

.selected {
  border: 3px solid blue;
}
