<div [ngClass]="{ selected: selected }">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ getResourceTitle() }}
      </mat-card-title>
    </mat-card-header>
    <div class="image-wrapper">
      <img [src]="getResourceImage()" />
    </div>
  </mat-card>
</div>
